<div class="user-details">
    <h1>About me</h1>
    <p>Hello, internet! My name is <b>Harold</b> and I solve problems by first <a href="https://tomprof.stanford.edu/posting/810">asking questions</a>. My favorite questions to ask myself are: <i>"<b>What</b> is the problem at hand?"</i>, <i>"<b>Why</b> is this change necessary?"</i>, and <i>"<b>How</b> can we make this more efficient?"</i></p>
    <p><b>Themes I live by </b>- Honesty, Selflessness, Humility</p>
    <p><b>Passions </b>- Coding, Gaming, Education, Cooking</p>
    <h1> My Expertise </h1>
    <p>I have five years of professional experience building websites and applications</p>
    <p>I strive to write functional, modular, and clean code to build cool things that solve a common problem</p>
    <p>My expertise is mostly Javascript-based but I am more than happy to learn new languages and technologies</p>
    <p>I believe that empathy is key to building a great product</p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-css3-plain-wordmark colored"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-d3js-plain colored"></i>
      <p></p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <i class="devicon-express-original colored"></i>
      <i class="devicon-jquery-plain-wordmark colored"></i>
      <i class="devicon-vuejs-plain-wordmark colored"></i>
      <i class="devicon-angularjs-plain-wordmark colored"></i>
      <p></p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-atom-original-wordmark colored"></i>
      <i class="devicon-webpack-plain colored"></i>
      <i class="devicon-heroku-plain-wordmark colored"></i>
      <img class="devicon" src="{{ "/assets/img/firebase.png" | prepend: site.baseurl }}"/>
      <i class="devicon-mongodb-plain-wordmark colored"></i>
      <i class="devicon-mysql-plain-wordmark colored"></i>
      <i class="devicon-oracle-original colored"></i>
      <p></p>
    </div>
</div>
<style scoped>
    .devicon {
        width: 75px;
        height: 75px;
    }
</style>
