<div class="user-details">
  <h1>Experiences</h1>
</div>
<div class="user-projects">
  <div class="images-left">
    <img src="{{ "/assets/img/limokorea.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>LimoKorea</h3>
    <h4>Web Manager</h4>
    <ul>
      <li>Revamped existing webpages, making them responsive and making changes as requested</li>
      <li>Designed and developed webpages end-to-end for various departments of Limo Korea according to their requirements</li>
      <li>Increased company publicity by optimizing online keyword exposure through Naver’s advertisement platform</li>
      <li>Quality-tested the newly developed chauffeur-management mobile application with a team</li>
      <li>Translated incoming calls and e-mails from English-speaking clients and internalized the newly designed websites</li>
    </ul>
    <p><b>Technologies Used</b> - HTML/CSS/JS, Vue, Vuetify, Webpack, Firebase</p>
    <a class="project-link" href="https://limotour-busan.web.app/">LimoTours</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img src="{{ "/assets/img/cicom.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>CICOM Software Inc.</h3>
    <h4>Software Developer</h4>
    <ul>
      <li>Implemented new features and bugfixes for the proprietary B2B ERP system following the in-house coding standards</li>
      <li>Spearheaded the migration of frameworks from Angular to Vue.js as well as optimization of a client’s codebase</li>
      <li>Applied webpack’s HMR and lazy loading features to speed up development and decrease loading time by 40%</li>
      <li>Responsible for maintaining version control and clear documentation through a git and visual studios workflow</li>
    </ul>
    <p><b>Technologies Used</b> - HTML/CSS/JS, Vue, Angular, Jenkins, C#, Webpack</p>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img src="{{ "/assets/img/samcosta.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Sam Costa Productions</h3>
    <h4>Freelance Developer</h4>
    <ul>
      <li>Produced a product end-to-end for a programmable advertisement display on a one-man dev team</li>
      <li>Cooperated with employer to interpret client’s feature requests and create mockups</li>
      <li>Utilized Node and Express to create back-end architecture that consumes external Raspberry Pi GPIO API calls</li>
      <li>Used HTML, CSS, Bootstrap, jQuery, and electron.js to develop a responsive, mobile-friendly GUI for the display controller </li>
    </ul>
    <p><b>Technologies Used</b> - HTML/CSS/JS, Raspberry Pi GPIO, Express, Bootstrap, jQuery</p>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img src="{{ "/assets/img/basised.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>BASIS.ed</h3>
    <h4>Internship @ Data Management</h4>
    <ul>
      <li>Created and customized webpages for the BASIS proprietary school information system </li>
      <li>Automated the ETL process of data from a SQL database into a Mongo database </li>
      <li>Worked with teams to produce the most efficient methods and models of data to load into databases</li>
      <li>Developed SQL queries to serve data requests incoming from other departments</li>
      <li>Saved thousands of teachers’ hours with an SQL survey that simplified filling out the CRDC bi-annual surveys</li>
    </ul>
    <p><b>Technologies Used</b> - HTML/CSS/JS, jQuery, Oracle SQL, MongoDB</p>
  </div>
</div>
<style scoped>
.user-projects {
    margin: 30px 0px;
}
img {
    width: 250px
}
</style>
