<div class="user-details">
  <h1>Experiences</h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/limokorea.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>Limo Korea</h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/cicom.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>CICOM Software Inc.</h3>
    <ul>
      <li>Implemented new features and bugfixes for our proprietary ERP system</li>
      <li>Spearheaded the migration of a website codebase from Angular to Vue.js</li>
      <li>Responsible for maintaining version control through git and visual studios</li>
      <li>Complemented my work in code through clear and concise documentation</li>
    </ul>
    <p></p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/samcosta.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3>Sam Costa Productions</h3>
    <ul>
      <li>Produced a product ground-up for a fully programmable advertisement display</li>
      <li>Implemented a full Node appl that would time and fire Raspberry Pi GPIO triggers</li>
      <li>Utilized Node and Express for back-end architecture and external GPIO API calls</li>
      <li>Used HTML, CSS, Bootstrap, and jQuery to develop a responsive, mobile-friendly GUI for the display controller</li>
      <li>Modularized and cleaned code for better readability and a strong foundation</li>
      <li>Cooperated with employer to interpret mockups of clients feature req</li>
    </ul>
    <p></p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/basised.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>BASIS.ed</h3>
    <h4>Internship with Data Management</h4>
    <ul>
      <li>Customized webpages for the BASIS proprietary SIS</li>
      <li>Reviewed data, reports, and performance indicators to correct issues with code</li>
      <li>Developed SQL queries to serve data requests from other departments</li>
      <li>Saved hundreds of teachers hours with an SQL survey that simplified filling out the CRDC bi-annual surveys</li>
    </ul>
    <p>
</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
