<div class="user-details">
  <h1>Experiences</h1>
</div>
<div class="user-projects">
  <div class="images-left">
    <img src="{{ "/assets/img/limokorea.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Limo Korea</h3>
    <h4>Web Manager</h4>
    <ul>
      <li>Web Marketing</li>
      <li>Making single-page webpages for departments</li>
      <li>Manage and improve existing webpages</li>
      <li>Quality testing for mobile application</li>
      <li>Translation</li>
      <li>Responsive, mobile version conversion</li>
      <li>Communicate requirements</li>
    </ul>
    <p><b>Technologies Used</b> - Vue, Vuetify, Webpack, Firebase, Wix</p>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img src="{{ "/assets/img/cicom.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>CICOM Software Inc.</h3>
    <h4>Software Developer</h4>
    <ul>
      <li>Implemented new features and bugfixes for our proprietary ERP system</li>
      <li>Spearheaded the migration of a website codebase from Angular to Vue.js</li>
      <li>Responsible for maintaining version control through git and visual studios</li>
      <li>Complemented my work in code through clear and concise documentation</li>
    </ul>
    <p><b>Technologies Used</b> - Discord API, XIVDB API, Redis</p>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img src="{{ "/assets/img/samcosta.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Sam Costa Productions</h3>
    <h4>Freelance Developer</h4>
    <ul>
      <li>Produced a product ground-up for a fully programmable advertisement display</li>
      <li>Implemented a full Node appl that would time and fire Raspberry Pi GPIO triggers</li>
      <li>Utilized Node and Express for back-end architecture and external GPIO API calls</li>
      <li>Used HTML, CSS, Bootstrap, and jQuery to develop a responsive, mobile-friendly GUI for the display controller</li>
      <li>Modularized and cleaned code for better readability and a strong foundation</li>
      <li>Cooperated with employer to interpret mockups of clients feature req</li>
    </ul>
    <p><b>Technologies Used</b> - Raspberry Pi GPIO, Express, Bootstrap, jQuery</p>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img src="{{ "/assets/img/basised.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>BASIS.ed</h3>
    <h4>Internship @ Data Management</h4>
    <ul>
      <li>Customized webpages for the BASIS proprietary SIS</li>
      <li>Reviewed data, reports, and performance indicators to correct issues with code</li>
      <li>Developed SQL queries to serve data requests from other departments</li>
      <li>Saved hundreds of teachers hours with an SQL survey that simplified filling out the CRDC bi-annual surveys</li>
    </ul>
    <p><b>Technologies Used</b> - jQuery, Oracle SQL, MongoDB</p>
  </div>
</div>
<style scoped>
img {
    width: 250px
    margin: 30px 0px;
}
</style>
