<div class="user-details">
  <h1>Projects</h1>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>HunkyBot</h3>
    <h4>As an everyday user of Discord, I've always wanted to make my own Discord bot</h4>
    <p><b>Technologies Used</b> - Discord API, Redis</p>
    <a class="project-link" href="https://github.com/hyungkip/hunkybot">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Babble</h3>
    <h4>Chatroom web application that allows users to watch videos together while sending message on the video.</h4>
    <p><b>Technologies Used</b> - Socket.io, Express, jQuery</p>
    <a class="project-link" href="http://babbleapp.herokuapp.com/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Grocer</h3>
    <h4>Search up recipes and have the ingredients sent right to your phone so you can grocery shop with ease</h4>
    <p><b>Technologies Used</b> - Edamam API, Twilio, Express, Angular</p>
    <a class="project-link" href="http://grocerapp.herokuapp.com/">Project Link</a>
    <a class="project-link" href="https://github.com/hyungkip/grocer">Github</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Time Spent on Overwatch</h3>
    <h4>My first project that consumes external API</h4>
    <p><b>Technologies Used</b> - OW API, Express, Angular</p>
    <a class="project-link" href="http://timespentonoverwatch.herokuapp.com/">Project Link</a>
    <a class="project-link" href="https://github.com/hyungkip/time-spent-on-overwatch">Github</a>
  </div>
</div>

<style scoped>
    img {
        width: 300px;
        text-align: center;
    }
</style>
