<div class="user-details">
  <h1>Projects</h1>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/hunkybot.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>HunkyBot</h3>
    <h4>Personal Discord bot</h4>
    <p>As an everyday user of Discord, I've always wanted to make my own bot. The Discord API made this a reality.</p>
    <p><b>Technologies Used</b> - Discord API, Redis</p>
    <a class="project-link" href="https://discordapp.com/oauth2/authorize?client_id=303320240333389824&permissions=0&scope=bot">Invite Link</a>
    <a class="project-link" href="https://github.com/hyungkip/hunkybot">Github</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/babble.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Babble</h3>
    <h4>Watch videos together while sending messages ON the video</h4>
    <p>A project to test myself on what I can do with limited technology (socket and jQuery only) and limited time (one week)</p>
    <p><b>Technologies Used</b> - Socket.io, Express, jQuery</p>
    <a class="project-link" href="http://babbleapp.herokuapp.com/">Project Link</a>
    <a class="project-link" href="https://github.com/hyungkip/blabber">Github</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/grocer.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Grocer</h3>
    <h4>Grocery shopping made easy!</h4>
    <p>Search up recipes and have the ingredients sent right to your phone</p>
    <p><b>Technologies Used</b> - Edamam API, Twilio, Express, Angular</p>
    <a class="project-link" href="http://grocerapp.herokuapp.com/">Project Link</a>
    <a class="project-link" href="https://github.com/hyungkip/grocer">Github</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/timespentonoverwatch.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Time Spent on Overwatch</h3>
    <h4>How much time did I waste on OW?</h4>
    <p>My first personal project that consumes external API</p>
    <p><b>Technologies Used</b> - OW API, Express, Angular</p>
    <a class="project-link" href="http://timespentonoverwatch.herokuapp.com/">Project Link</a>
    <a class="project-link" href="https://github.com/hyungkip/time-spent-on-overwatch">Github</a>
  </div>
</div>

<style scoped>
img {
    width: 250px;
    margin: 30px 0px;
}
</style>
